language = "python3"
#run = "python pythonbasics/ryanpybasics.py"
#run = "python pythonbasics/datastructurelearnings.py"
#run = "python pythonbasics/testhack.py"
#run = "python pythonbasics/plusminushack.py"
#run = "python pythonbasics/staircasehack.py"
#run = "python pythonbasics/fizzbuzz.py"
#run = "python pythonbasics/growarray2d.py"
run = "python pythonbasics/minimumstartvalue.py"